<h1>Add a task</h1>

<% if flash[:alert] %>
  <p style="color: red; font-size: 16px; font-weight: bold;"><%= flash[:alert] %></p>
<% end %>

<%= form_for @task, url: url_for(controller: 'tasks', action: 'create') do |f| %>
  <% if flash[:alert] %>
    <p style="color: red" id="error-description">
  <% else %>
    <p>
  <% end %>
    <p style="color:red; font-weight: bold"><%= @task.errors[:description].first.capitalize if @task.errors[:description] != [] %></p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p style="color:red; font-weight: bold"><%= @task.errors[:due_date].first if @task.errors[:due_date] != [] %></p>
  <p>
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %><br>
  </p>

    <%= f.label :assigned_to %><br>
    <%= f.collection_select(:assigned_to, @users, :name, :name) %><br><br>

  <%= f.submit "Create Task" %>
<% end %>

