<% if flash[:alert] %>
  <p style="color: red; font-size: 16px; font-weight: bold;"><%= flash[:alert] %></p>
<% end %>

<%= form_for @task_list, url: task_list_path, method: :patch do|f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name%><br>

  <%= f.submit "Update Task List" %>
<% end %>

