<h1>My Lists</h1>
<%= link_to '+ Add Task List', new_task_list_path %>

<% flash.each do |type, msg| %>
  <p><span style="background-color: lightgreen; border: solid green 2px; padding: 10px"><%= msg %></span></p>
<% end %>

<div id="all-task-lists">
  <% @task_lists.each do |task_list| %>

    <section class="task-list">

      <h1 style="display: inline-block"><%= link_to task_list.name, task_list_path(id: task_list.id)  %></h1>
      <%= link_to "Edit", edit_task_list_path(id: task_list.id), method: :get %>
      <div class="new-task" style="display: inline-block">
        <%= link_to "+ Add Task", new_task_list_task_path(task_list_id: task_list.id) %>
      </div>

      <a href="/task_list/<%= task_list.id %>/completed" style="display: inline-block">Completed</a>
      <%= link_to "Delete", task_list_path(id: task_list.id), method: :delete %>

    </section>

    <section class="task-box">
      <% if task_list.tasks != [] %>
        <% task_list.tasks.order(:due_date).each do |task| %>

          <% unless task.completed %>

            <p class="task" style="display: inline-block"><%= task.description %> (<%= (task.due_date - Date.today).to_i %> days) - <%= task.assigned_to %></p>

            <div style="display: inline-block; position: relative; margin-left: -75px;">
              <%= button_to "Delete", {controller: :tasks, action: 'destroy', id: task.id}, :method => :delete %>
            </div>
            <div style="display: inline-block; position: relative; margin-left: -150px;">
              <%= button_to "Complete", {:controller => :tasks,
                                       :action => 'complete',
                                       :id => task.id }, :method => :patch %>
            </div>

          <% end %>
        <% end %>
      <% else %>
        <p class="task" style="text-align: center"><i>Nothing here to see!</i></p>
      <% end %>
    </section>
  <% end %>
</div>